In [1]:
import pandas as pd
import numpy as np

In [2]:
series = pd.Series(['Amy', 'Carl', 'Sam'])
series

0     Amy
1    Carl
2     Sam
dtype: object

In [3]:
maps = pd.Series(['Red', 'White', 'Green', 'Blue'])
assets = pd.Series(['Barrel', 'Tree', 'House', 'Character'])

In [4]:
prod_data = pd.DataFrame({"maps": maps, "Assets": assets})

In [5]:
prod_data

    maps     Assets
0    Red     Barrel
1  White       Tree
2  Green      House
3   Blue  Character

In [6]:
!ls

numpy_basics.ipynb   pandas_basics.ipynb  sentimentdataset.csv

In [7]:
sentiment_dataset = pd.read_csv('sentimentdataset.csv')

In [8]:
sentiment_dataset.head()

,Unnamed: 0.1,Unnamed: 0,Text,Sentiment,Timestamp,User,Platform,Hashtags,Retweets,Likes,Country,Year,Month,Day,Hour
0,0,0,Enjoying a beautiful day at the park! ...,Positive,2023-01-15 12:30:00,User123,Twitter,#Nature #Park,15.0,30.0,USA,2023,1,15,12
1,1,1,Traffic was terrible this morning. ...,Negative,2023-01-15 08:45:00,CommuterX,Twitter,#Traffic #Morning,5.0,10.0,Canada,2023,1,15,8
2,2,2,Just finished an amazing workout! ðŸ’ª ...,Positive,2023-01-15 15:45:00,FitnessFan,Instagram,#Fitness #Workout,20.0,40.0,USA,2023,1,15,15
3,3,3,Excited about the upcoming weekend getaway! ...,Positive,2023-01-15 18:20:00,AdventureX,Facebook,#Travel #Adventure,8.0,15.0,UK,2023,1,15,18
4,4,4,Trying out a new recipe for dinner tonight. ...,Neutral,2023-01-15 19:55:00,ChefCook,Instagram,#Cooking #Food,12.0,25.0,Australia,2023,1,15,19

In [9]:
sentiment_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 732 entries, 0 to 731
Data columns (total 15 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0.1  732 non-null    int64
 1   Unnamed: 0    732 non-null    int64
 2   Text          732 non-null    object
 3   Sentiment     732 non-null    object
 4   Timestamp     732 non-null    object
 5   User          732 non-null    object
 6   Platform      732 non-null    object
 7   Hashtags      732 non-null    object
 8   Retweets      732 non-null    float64
 9   Likes         732 non-null    float64
 10  Country       732 non-null    object
 11  Year          732 non-null    int64
 12  Month         732 non-null    int64
 13  Day           732 non-null    int64
 14  Hour          732 non-null    int64
dtypes: float64(2), int64(6), object(7)
memory usage: 85.9+ KB

In [10]:
sentiment_dataset.groupby(['Platform']).sum()

,Unnamed: 0.1,Unnamed: 0,Text,Sentiment,Timestamp,User,Hashtags,Retweets,Likes,Country,Year,Month,Day,Hour
Platform,,,,,,,,,,,,,,
Facebook,83211,83962,Excited about the upcoming weekend getaway! ...,Positive Positive Neutral Positive P...,2023-01-15 18:20:002023-01-16 14:45:002023-01-...,AdventureX RainyDays BeachLover Urb...,#Travel #Adventure #Ra...,4844.0,9672.0,UK Canada Australia UK USA ...,466719,1414,3850,3647
Instagram,95929,96782,Just finished an amazing workout! ðŸ’ª ...,Positive Neutral Positive Positive P...,2023-01-15 15:45:002023-01-15 19:55:002023-01-...,FitnessFan ChefCook MovieBuff Blo...,#Fitness #Workout #Co...,5831.0,11633.0,USA Australia USA USA USA ...,521301,1608,3905,4043
Twitter,66419,66931,Dancing through life with the exuberance of a...,Zest Proud Compassionate Inspired Serenit...,2018-07-12 17:45:002019-12-10 12:20:002022-06-...,JoyfulDancer OakAchiever CloudCaretaker Ph...,#Zest #CarefreeSpirit #Proud #BranchesOfAchi...,2918.0,5809.0,USA Canada Australia UK Canada Australia...,258667,888,1848,2110
Twitter,22693,22975,Enjoying a beautiful day at the park! ...,Positive Negative Positive Negative N...,2023-01-15 12:30:002023-01-15 08:45:002023-01-...,User123 CommuterX GratitudeNow Deb...,#Nature #Park #Tr...,2151.0,4290.0,USA Canada India USA Canad...,232298,572,1741,1562

In [11]:
sentiment_dataset.head()

,Unnamed: 0.1,Unnamed: 0,Text,Sentiment,Timestamp,User,Platform,Hashtags,Retweets,Likes,Country,Year,Month,Day,Hour
0,0,0,Enjoying a beautiful day at the park! ...,Positive,2023-01-15 12:30:00,User123,Twitter,#Nature #Park,15.0,30.0,USA,2023,1,15,12
1,1,1,Traffic was terrible this morning. ...,Negative,2023-01-15 08:45:00,CommuterX,Twitter,#Traffic #Morning,5.0,10.0,Canada,2023,1,15,8
2,2,2,Just finished an amazing workout! ðŸ’ª ...,Positive,2023-01-15 15:45:00,FitnessFan,Instagram,#Fitness #Workout,20.0,40.0,USA,2023,1,15,15
3,3,3,Excited about the upcoming weekend getaway! ...,Positive,2023-01-15 18:20:00,AdventureX,Facebook,#Travel #Adventure,8.0,15.0,UK,2023,1,15,18
4,4,4,Trying out a new recipe for dinner tonight. ...,Neutral,2023-01-15 19:55:00,ChefCook,Instagram,#Cooking #Food,12.0,25.0,Australia,2023,1,15,19

In [15]:
sentiment_dataset['Retweets'] = sentiment_dataset['Retweets'].astype(np.int16)

In [16]:
sentiment_dataset.head()

,Unnamed: 0.1,Unnamed: 0,Text,Sentiment,Timestamp,User,Platform,Hashtags,Retweets,Likes,Country,Year,Month,Day,Hour
0,0,0,Enjoying a beautiful day at the park! ...,Positive,2023-01-15 12:30:00,User123,Twitter,#Nature #Park,15,30.0,USA,2023,1,15,12
1,1,1,Traffic was terrible this morning. ...,Negative,2023-01-15 08:45:00,CommuterX,Twitter,#Traffic #Morning,5,10.0,Canada,2023,1,15,8
2,2,2,Just finished an amazing workout! ðŸ’ª ...,Positive,2023-01-15 15:45:00,FitnessFan,Instagram,#Fitness #Workout,20,40.0,USA,2023,1,15,15
3,3,3,Excited about the upcoming weekend getaway! ...,Positive,2023-01-15 18:20:00,AdventureX,Facebook,#Travel #Adventure,8,15.0,UK,2023,1,15,18
4,4,4,Trying out a new recipe for dinner tonight. ...,Neutral,2023-01-15 19:55:00,ChefCook,Instagram,#Cooking #Food,12,25.0,Australia,2023,1,15,19

In [19]:
sentiment_dataset.dtypes

Unnamed: 0.1      int64
Unnamed: 0        int64
Text             object
Sentiment        object
Timestamp        object
User             object
Platform         object
Hashtags         object
Retweets          int16
Likes           float64
Country          object
Year              int64
Month             int64
Day               int64
Hour              int64
dtype: object

In [20]:
sentiment_dataset['Hashtags'] = sentiment_dataset['Hashtags'].str.replace('#',"")

In [21]:
sentiment_dataset.head()

,Unnamed: 0.1,Unnamed: 0,Text,Sentiment,Timestamp,User,Platform,Hashtags,Retweets,Likes,Country,Year,Month,Day,Hour
0,0,0,Enjoying a beautiful day at the park! ...,Positive,2023-01-15 12:30:00,User123,Twitter,Nature Park,15,30.0,USA,2023,1,15,12
1,1,1,Traffic was terrible this morning. ...,Negative,2023-01-15 08:45:00,CommuterX,Twitter,Traffic Morning,5,10.0,Canada,2023,1,15,8
2,2,2,Just finished an amazing workout! ðŸ’ª ...,Positive,2023-01-15 15:45:00,FitnessFan,Instagram,Fitness Workout,20,40.0,USA,2023,1,15,15
3,3,3,Excited about the upcoming weekend getaway! ...,Positive,2023-01-15 18:20:00,AdventureX,Facebook,Travel Adventure,8,15.0,UK,2023,1,15,18
4,4,4,Trying out a new recipe for dinner tonight. ...,Neutral,2023-01-15 19:55:00,ChefCook,Instagram,Cooking Food,12,25.0,Australia,2023,1,15,19

In [22]:
sentiment_dataset[(sentiment_dataset['Retweets']>20)&(sentiment_dataset['Country']=='USA')]

,Unnamed: 0.1,Unnamed: 0,Text,Sentiment,Timestamp,User,Platform,Hashtags,Retweets,Likes,Country,Year,Month,Day,Hour
10,10,10,Just published a new blog post. Check it out!...,Positive,2023-01-17 15:15:00,BloggerX,Instagram,Blogging NewPost,22,45.0,USA,2023,1,17,15
18,18,18,Attending a virtual conference on AI. ...,Neutral,2023-01-20 11:30:00,TechConference,Facebook,AI TechConference,25,50.0,USA,2023,1,20,11
33,34,35,Feeling inspired after attending a workshop. ...,Positive,2023-01-26 09:45:00,WorkshopAttendee,Instagram,Inspiration Workshop,25,50.0,USA,2023,1,26,9
39,40,41,Excited about the upcoming gaming tournament....,Positive,2023-01-28 09:00:00,GamingEnthusiast,Instagram,Gaming Tournament,30,60.0,USA,2023,1,28,9
128,129,131,Empowerment through learning and personal gro...,Empowerment,2014-07-20 11:30:00,GrowthSeeker,Instagram,Empowerment PersonalGrowth,25,50.0,USA,2014,7,20,11

In [23]:
sentiment_dataset['Retweets'].plot()

ImportError: matplotlib is required for plotting when the default backend "matplotlib" is selected.